$red: rgb(160, 64, 64);

@mixin borderd($color: black) {
  border: 1px solid $color;
}

// body {
//   color: $red;
//   .test {
//     background: red;
//     // @include borderd(orange);
//     @include borderd();
//   }
// }

body {
  color: $red;
}

  

//通过选择器继承继承样式
.error {
  border: 1px solid red;
  background-color: #fdd;
}
.seriousError {
  @extend .error;
  border-width: 3px;
}
