div {
  width: 10px;
  width: 20px;
  width: 30px;
}
.col-3 {
  width: 30px;
}
.col-2 {
  width: 20px;
}
.col-1 {
  width: 10px;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
.col-24-1 {
  width: 4.16666667%;
}
.col-24-2 {
  width: 8.33333333%;
}
.col-24-3 {
  width: 12.5%;
}
.col-24-4 {
  width: 16.66666667%;
}
.col-24-5 {
  width: 20.83333333%;
}
.col-24-6 {
  width: 25%;
}
.col-24-7 {
  width: 29.16666667%;
}
.col-24-8 {
  width: 33.33333333%;
}
.col-24-9 {
  width: 37.5%;
}
.col-24-10 {
  width: 41.66666667%;
}
.col-24-11 {
  width: 45.83333333%;
}
.col-24-12 {
  width: 50%;
}
.col-24-13 {
  width: 54.16666667%;
}
.col-24-14 {
  width: 58.33333333%;
}
.col-24-15 {
  width: 62.5%;
}
.col-24-16 {
  width: 66.66666667%;
}
.col-24-17 {
  width: 70.83333333%;
}
.col-24-18 {
  width: 75%;
}
.col-24-19 {
  width: 79.16666667%;
}
.col-24-20 {
  width: 83.33333333%;
}
.col-24-21 {
  width: 87.5%;
}
.col-24-22 {
  width: 91.66666667%;
}
.col-24-23 {
  width: 95.83333333%;
}
.col-24-24 {
  width: 100%;
}
body {
  background: #a04040;
  width: 100%;
}
@media (min-width: 768px) {
  body {
    width: 750px;
  }
}
@media (min-width: 992px) {
  body {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body {
    width: 1170px;
  }
}
body .test {
  color: blue;
  border-top: dotted 1px blue;
  border-bottom: solid 2px blue;
}
body .test .yyy {
  text-decoration: none;
}
body.main {
  border: none;
  text-align: center;
  width: 8.33333333%;
  text-decoration: none;
}
body:hover {
  background: green;
}
