body {
  background: #a04040;
  width: 100%;
}
@media (min-width: 768px) {
  body {
    width: 750px;
  }
}
@media (min-width: 992px) {
  body {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body {
    width: 1170px;
  }
}
body .test {
  color: blue;
  border-top: dotted 1px blue;
  border-bottom: solid 2px blue;
}
body .test .yyy {
  text-decoration: none;
}
body.main {
  border: none;
  text-align: center;
  width: 8.33333333%;
  text-decoration: none;
}
body:hover {
  background: green;
}
