body {
  max-width: 100%;
}
.vnavbar {
  padding: 10px 50px;
  border: none;
  margin-bottom: 0;
}
.vnavbar .container-fluid .navbar-header button {
  border: none;
  background-color: #f8f8f8;
  color: #FC427B;
  font-weight: 700;
  font-size: 20px;
}
.vnavbar .container-fluid .navbar-header a {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -1px;
  color: #FC427B;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  font-family: 'Srisakdi', cursive;
}
.vnavbar .container-fluid .navbar-collapse > ul > li {
  margin: 0px 10px;
}
.vnavbar .container-fluid .navbar-collapse > ul > li:first-child a {
  color: #FC427B;
}
.vnavbar .container-fluid .navbar-collapse > ul > li > a {
  color: #4c4c4c;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  padding: 15px 0px;
}
.vnavbar .container-fluid .navbar-collapse > ul > li > a:hover {
  color: #FC427B;
}
.vnavbar .container-fluid .navbar-collapse > ul > li .dropdown-menu {
  background-color: #333;
  padding: 5px 10px;
}
.vnavbar .container-fluid .navbar-collapse > ul > li .dropdown-menu li a {
  color: white;
}
.vnavbar .container-fluid .navbar-collapse > ul > li .dropdown-menu li a:hover {
  color: #333;
}
.vbanner .carousel-indicators li {
  width: 13px;
  height: 13px;
  border: 3px solid #fff;
}
.vbanner .carousel-indicators li.active {
  background-color: #FC427B;
}
.vbanner .vinner .item {
  height: 500px;
}
@media screen and (min-width: 1369px) {
  .vbanner .vinner .item {
    height: 733px;
  }
}
.vbanner .vinner .item:nth-child(1) {
  background: url(../images/1.jpg) no-repeat;
  background-size: 100%;
}
.vbanner .vinner .item:nth-child(2) {
  background: url(../images/2.jpg) no-repeat;
  background-size: 100%;
}
.vbanner .vinner .item:nth-child(3) {
  background: url(../images/4.jpg) no-repeat;
  background-size: 100%;
}
.vbanner .vinner .item .carousel-caption {
  width: 100%;
  right: auto;
  left: 0;
  bottom: auto;
  top: 0;
  text-align: right;
  margin-top: 150px;
}
@media screen and (max-width: 768px) {
  .vbanner .vinner .item .carousel-caption {
    margin-top: 0px;
    width: 100%;
    height: auto;
  }
}
.vbanner .vinner .item .carousel-caption h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.vbanner .vinner .item .carousel-caption h3 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 3.5em;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
}
.vbanner .vinner .item .carousel-caption a {
  padding: 12px 25px;
  border: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #fff;
  background: #FC427B;
}
.vwelcome {
  padding-top: 80px;
}
.vwelcome img {
  max-width: 100%;
}
.vwelcome h3 {
  font-size: 40px;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}
.vwelcome h4 {
  font-size: 22px;
  line-height: 1.9;
  color: #464646;
  font-family: initial;
  font-style: italic;
  margin: 40px 0;
}
.vwelcome span {
  font-size: 28px;
  color: #fff;
  border-radius: 50%;
  background: #FC427B;
  padding: 1em;
}
.vwelcome h5 {
  color: #343a40;
  font-family: 'Poppins', sans-serif;
  margin: 40px 0;
}
.vwelcome p {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
.vserives {
  width: 100%;
  background-color: #FC427B;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}
.vserives span {
  font-size: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 20px;
}
.vserives h5 {
  letter-spacing: 1px;
  font-weight: 600;
  margin: 40px 0;
}
.vserives p {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  font-family: 'Sintony', sans-serif;
}
.vbbox .thumbnail {
  border: none;
}
.vbbox .thumbnail .picbox {
  position: relative;
  padding: 0;
  box-sizing: border-box;
}
.vbbox .thumbnail .picbox a img {
  vertical-align: middle;
  margin: 0;
}
.vbbox .thumbnail .picbox h3 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #38d2fe;
  padding: 10px 25px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 600;
}
.vbbox .thumbnail .picbox h3 span {
  display: block;
  font-weight: 100;
  font-size: 16px;
}
.vbbox .thumbnail .caption {
  padding: 9px 0;
}
.vbbox .thumbnail .caption h4 {
  margin-bottom: 10px;
  font-size: 23px;
  color: #343a40;
  font-family: 'Poppins', sans-serif;
}
.vbbox .thumbnail .caption ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.vbbox .thumbnail .caption ul li {
  list-style: none;
  float: left;
}
.vbbox .thumbnail .caption ul li a {
  color: #999;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 15px;
  padding-right: 10px;
}
.vbbox .thumbnail .caption ul li a span {
  color: #FC427B;
  margin-right: 5px;
  vertical-align: top;
}
.vbbox .thumbnail .caption ul li a:hover {
  text-decoration: none;
}
.vbbox .thumbnail .caption p {
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
.middle-section {
  padding: 50px 0;
}
.middle-section .jumbotron {
  background: url(../images/bg2.jpg) no-repeat top;
  background-size: 100%;
}
.middle-section .jumbotron .container {
  padding-top: 50px;
  margin-bottom: 200px;
}
.middle-section .jumbotron span {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.35);
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase !important;
}
.middle-section .jumbotron h3 {
  font-weight: 800;
  font-size: 32px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
}
.middle-section .jumbotron p {
  margin: 0;
  padding: 0;
  color: #eee;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  font-family: 'Sintony', sans-serif;
  font-weight: 400;
  text-align: left;
}
.vgallery .gy-title {
  text-align: center;
}
.vgallery .gy-title h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
.vgallery .gy-title p {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
  margin-bottom: 50px;
}
.vgallery .gy-content {
  padding-bottom: 50px;
}
.vgallery .gy-content .rcpm {
  margin-bottom: 20px;
  text-align: center;
}
.vgallery .gy-content .rcpm a {
  cursor: pointer;
}
.vgallery .gy-content .rcpm img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.vnewsletter {
  padding: 50px 0;
  background: url(../images/bg3.jpg) no-repeat center;
  background-size: 100%;
}
.vnewsletter .nltit {
  text-align: center;
}
.vnewsletter .nltit h3 {
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
}
.vnewsletter .nltit p {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #e0e0e0;
  font-family: 'Sintony', sans-serif;
}
.vnewsletter .embox {
  padding: 48px 15px;
}
.vnewsletter .embox input {
  padding: 15px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.ctcontent .ct-con-l {
  background-color: #fff;
  padding: 40px;
  margin: 0;
  box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
}
.ctcontent .ct-con-l h4 {
  font-size: 23px;
  color: #38d2fe;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.ctcontent .ct-con-l p {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
.ctcontent .ct-con-l p a {
  color: #999;
  text-decoration: none;
}
.ctcontent .ct-con-l p a:hover {
  color: #000;
}
.ctcontent .ct-con-l:nth-child(2) {
  margin: 20px 0;
}
.ctcontent .col-con-r {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
}
.ctcontent .col-con-r h4 {
  font-size: 23px;
  color: #38d2fe;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.ctcontent .col-con-r .form-group {
  border: none;
  box-shadow: none;
}
.ctcontent .col-con-r .form-group input[type="text"],
.ctcontent .col-con-r .form-group input[type="email"] {
  box-sizing: content-box;
  color: #000;
  background: none;
  outline: none;
  font-size: 15px;
  padding: 11px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  border: none;
  border-bottom: solid 1px #828282;
  border-radius: 0px;
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
}
.ctcontent .col-con-r .form-group input[type="text"]:focus,
.ctcontent .col-con-r .form-group input[type="email"]:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.ctcontent .col-con-r .form-group textarea {
  box-sizing: content-box;
  min-height: 190px;
  resize: none;
  overflow: auto;
  color: #000;
  background: none;
  outline: none;
  font-size: 15px;
  padding: 11px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  border: none;
  border-bottom: solid 1px #828282;
  border-radius: 0px;
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
}
.ctcontent .col-con-r .form-group textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.ctcontent .col-con-r .form-group input[type='submit'] {
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 0;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: -12px;
  background: #FC427B;
}
.vfooter {
  background: #212020;
  padding: 50px 0;
}
.vfooter .fr-t {
  font-family: 'Poppins', sans-serif;
}
.vfooter .fr-t h3,
.vfooter .fr-t h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 3rem;
}
.vfooter .fr-t h4 {
  font-size: 16px;
  letter-spacing: 1px;
  color: #f8f9fa;
  margin-bottom: 0.5rem;
}
.vfooter .fr-t p {
  letter-spacing: 1px;
  line-height: 1.9;
  color: #ababab;
  font-size: 14px;
  font-family: 'Sintony', sans-serif;
}
.vfooter .fr-t p a {
  color: #ababab;
  font-size: 14px;
  text-decoration: none;
}
.vfooter .fr-t ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.vfooter .fr-t ul li a {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  display: inline-block;
  color: #ababab;
  text-decoration: none;
}
.vfooter .fr-t ul li a:hover {
  color: #fff;
}
.vfooter .fr-b {
  border-top: 1px solid #dee2e6;
  text-align: center;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
  margin-top: 50px;
}
.vfooter .fr-b a {
  margin-top: 20px;
  width: 34px;
  height: 34px;
  background: url(../images/move-top.png) no-repeat 0px 0px;
  display: inline-block;
}
