*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html{
    scroll-behavior: smooth;
  }
  
a{
    text-decoration: none !important;
}
p{
    text-align: center;
    color: #999;
}
li{
    list-style: none;
}
.navbar{
    width: 100%;
   padding: 16px 48px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-right li{
    float: left;
    margin-right: 5px;
}
.navbar-right a{
    color: #4c4c4c !important;  
    text-transform: capitalize;
    font-weight: 500 !important;
    font-size: 15px !important;
    display: inline-block !important;
}
.navbar .navbar-toggler a{
    color: #000;
}

#logo a{
    color: #FC427B;
    font-size: 40px;
    font-family: 'Srisakdi', cursive;
}
.navbar .dropdown-menu a:hover{
    color: #333333 !important;
}
.navbar .navbar-toggler{
    position: absolute;
    top: 20px;
    right: 66px;
    border: none;
    
}
.navbar .navbar-toggler a{
    font-size: 16px;
}
@media (min-width:763px){
    .navbar-nav{
        position: absolute;
        right: 75px;
    }
    .navbar-toggler{
        display:none;
    }
    
}

.navbar-nav .dropdown-menu a{
    color: #fff !important;
    font-size: 14px !important;
    
}
.nav-link{
    text-align: center
    ;
}
@media (max-width: 736px){
    .navbar-nav .dropdown-menu{
        background:#fff !important;
        border: none;
    }
    .navbar-nav .dropdown-menu a{
        color: #343a40!important;
        text-align: center
    }
    .mr-auto {
        display: block;
        text-align: center;
        margin: 0 auto !important;
    }
}
@media (max-width: 991px){
    #logo a {
        font-size: 36px;
    }
}
.carousel .carousel-caption{
    text-align: right;
    max-width: 560px;
    top: 21%;
    left: 49% !important;
    right: 0 !important;
}
@media (max-width: 414px){
    .carousel-indicators{
        margin-bottom: -20px !important;
    }
    .carousel-caption{
        margin: 10px 10px;
    }
    h3{
        font-size: 28px !important;
    }
}
.carousel-caption h5{
    font-weight: 400;
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.carousel-caption h3{
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 3.5em;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
}
.carousel-caption a{
    padding: 12px 25px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #fff;
    background: #FC427B;
}
.carousel ol li{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 36px 4px;
    padding: 0px;
    background: #FC427B;
    border: 4px solid #fff;
}
.carousel ol li:hover{
    background: #fff;
}
.banner-one{
    margin-top: 48px;
}
.banner-one .row h3{
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #c1c2c4;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
}
.banner-one .row h4{
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: initial;
    color: #464646;
    padding: 16px 0 48px;
}
.icon-effect span {
    font-size: 28px;
    color: #fff;
    border-radius: 50%;
    background: #FC427B;
    padding: 1em;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    
}
.fa-spinner:before {
    content: "\f110";
}
.fa-star-o:before {
    content: "\f006";
}
.banner-one p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #999;
    text-align: left;
    font-family: 'Sintony', sans-serif;
}
.banner-two{
    background: #FC427B;
    color: #fff;
}
.banner-two p{
    color: #fff;
}
.banner-two h4{
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase !important;
    margin: 48px 0px 16px;
    text-align: center  ;
}
@media (max-width: 991px){
    .banner-two p {
        width: 100%;
        font-size: 13px;
        color: #fff;
        text-align: center;
        margin-left: 10px;
    }
}
@media (max-width: 1080px){
    .banner-two p {
        width: 100%;
        font-size: 16px;
        text-align: center;
        color: #fff;
    }
}
.banner-two{
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}
.banner-two .icon{
    padding:0 15px ;
}
.banner-two .icon>div{
    text-align: center !important;
}
.banner-two i{
    color: #fff;
    font-size: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center !important;
}
.fa-eye::before {
    content: "\f06e";
}
.fa-gift::before {
    content: "\f06b";
}
.fa-heart-o::before {
    content: "\f08a";
}
.banner-three {
    padding-top: 4rem !important;
}
.banner-three .title{
    margin-bottom: 3rem !important;
}
.content{
    position: relative;
}
.content h3 {
    position: absolute;
    font-size: 26px;
    color: #fff;
    background: #38d2fe;
    padding: 10px 25px;
    bottom: -8px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
}
.content h3 span {
    display: block;
    font-weight: 100;
    font-size: 16px;
}
.box a {
    color: #999;
    letter-spacing: 1px;
    font-size: 15px;
}

.good:before {
    content: "\f164";
}
.comments:before {
    content: "\f086";
}
.box i {
    color: #ff4f81;
}
.box ul li {
    display: inline-block;
}
.banner-three .row p{
    text-align: left;
}
.banner-four{
    width: 100%;
    height: 100%;
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
@media (max-width: 480px){
    .banner-four {
        min-height: 300px !important;
    }
}
@media (max-width: 991px){
    .banner-four {
        min-height: 350px !important;
    }
}

@media (max-width: 1366px){
    .banner-four {
        min-height: 560px;
    }
}
.banner-four .row .title{
        font-size: 26px;
        color: rgba(255, 255, 255, 0.35);
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase !important;
}
@media (max-width: 1050px){
    .banner-four .row h3 {
        font-size: 30px;
    }
}
.banner-four .row h3 {
    font-weight: 800;
    font-size: 32px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.4;
}
.banner-four .row p{
    color: #fff;
    font-size: 15px;
    text-align: left;
    padding: 8px 0 16px;
}
.banner-four .row .text{
    margin-top: 60px;
}
.banner-six{
    background: url(../images/bg3.jpg) no-repeat center;
}
.banner-six h3{
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 32px;
}
.banner-six p{
    color: #e0e0e0;
}
.banner-six input{
    border: none;
    letter-spacing: 1px;
    font-size: 15px;
    height: 50px;
    margin: 7px 0;
}

.banner-six .last{
    background-color: #38d2fe !important;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
}
.banner-seven .row .address,.Phone,.Mail,.presion-info{
    background-color: #fff;
    padding: 40px;
    box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.1);
}
.Phone{
    margin: 32px 0;
}
.banner-seven a{
    color: #999;
}
.banner-seven h4{
    font-size: 23px;
    color: #38d2fe;
    letter-spacing: 1px;
    font-weight: 600;
}
.banner-seven .presion-info input{
    color: #000;
    background: none;
    outline: none;
    font-size: 15px;
    padding: 11px;
    margin-bottom: 16px;
    letter-spacing: 1px;
    border: none;
    border-bottom: solid 1px #828282;
    border-radius: 0px;
}


    .presion-info textarea {
        min-height: 15.5em;
        border: none;
    }
@media (max-width: 991px){

    .presion-info textarea {
        min-height: 12em;
        border: none;
    }
}
    
.presion-info input[type="submit"] {
    color: #fff;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 1.7em;
    width: 100%;
    background: #FC427B;
}
.footer{
    margin-top: 284px;
    background: #212020;
    padding: 48px 0;
}
.footer .container{
padding: 48px 15px;

}
.footer .line{
    border-top: 1px solid #323131;
}
.footer h2{
    margin: 0 0 48px;
    font-size: 20px;
}
.footer h3{
    margin: 0 0 48px;
    font-size: 20px;
}
.footer h4{
    font-size: 16px;
}
.footer a{
    color: #999;
}
.footer li {
    margin:  0 0 16px;
}
.footer .icon{
    margin-top: 16px;
    width: 34px;
    height: 34px;
    background: url(../images/move-top.png) no-repeat 0px 0px;
    display: inline-block;
}
.footer p{
    font-size: 15px;
}