.f-whole h1,
.f-whole h2,
.f-whole h3,
.f-whole h4,
.f-whole h5,
.f-whole h6,
.f-whole p {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.f-whole a {
  cursor: pointer;
}
.f-whole a:hover {
  text-decoration: none;
}
.f-whole .dropdown-toggle:hover {
  background: none !important;
}
.f-whole .f-main-top .f-head {
  background: white;
  padding: 18px 54px;
  width: 100%;
  height: 100%;
  line-height: 44px;
}
.f-whole .f-main-top .f-head .container {
  margin: 0;
  width: 100%;
}
.f-whole .f-main-top .f-head .container .row {
  width: 100%;
}
@media (max-width: 1170px) {
  .f-whole .f-main-top .f-head {
    padding: 18px 0px;
  }
}
@media (max-width: 768px) {
  .f-whole .f-main-top .f-head {
    padding: 18px 15px;
  }
  .f-whole .f-main-top .f-head .f-abbreviationMenu {
    display: block !important;
  }
  .f-whole .f-main-top .f-head .f-abbreviationMenu .navbar-collapse {
    display: none !important;
  }
}
.f-whole .f-main-top .f-head .container .f-logo {
  float: left;
}
.f-whole .f-main-top .f-head .container .f-logo a {
  display: inline-block;
}
.f-whole .f-main-top .f-head .container .f-logo a h1 {
  font-family: 'Srisakdi', cursive;
  font-weight: 700;
  font-size: 40px;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  color: #FC427B;
}
.f-whole .f-main-top .f-head .container .f-menu {
  float: right;
  padding: 0;
}
.f-whole .f-main-top .f-head .container .f-menu .f-abbreviationMenu {
  display: none;
}
.f-whole .f-main-top .f-head .container .f-menu .f-abbreviationMenu .dropdown a {
  float: right;
  display: block;
  color: #000;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.f-whole .f-main-top .f-head .container .f-menu .f-abbreviationMenu .dropdown .dropdown-menu {
  position: relative;
  top: 15px;
  left: -100px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
       box-shadow: none;
  border: none;
}
.f-whole .f-main-top .f-head .container .f-menu .f-abbreviationMenu .dropdown .dropdown-menu li {
  text-align: center;
}
.f-whole .f-main-top .f-head .container .f-menu .f-abbreviationMenu .dropdown .dropdown-menu li a {
  line-height: 36px;
  display: inline-block;
  width: 100%;
}
.f-whole .f-main-top .f-head .container .f-menu .navbar-default {
  border: 0;
  margin: 0;
  min-height: 0;
}
.f-whole .f-main-top .f-head .container .f-menu .navbar-default .container-fluid {
  background: white;
  width: 100%;
  padding: 0;
}
.f-whole .f-main-top .f-head .container .f-menu .navbar-default .container-fluid a {
  color: #4c4c4c;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 2px 24px 2px 0px;
}
.f-whole .f-main-top .f-head .container .f-menu .navbar-default .container-fluid a:hover {
  color: #FC588B;
}
.f-whole .f-main-top .f-head .container .f-menu .navbar-default .container-fluid .navbar-collapse {
  padding: 0;
}
.f-whole .f-main-top .f-head .container .f-menu .navbar-default .container-fluid .navbar-collapse .navbar-nav {
  float: right;
}
.f-whole .f-main-top .f-head .container .f-menu .navbar-default .container-fluid .navbar-collapse .navbar-nav .dropdown-menu {
  width: 190px;
  background: #333333;
  padding: 10px;
  line-height: 20px;
}
.f-whole .f-main-top .f-head .container .f-menu .navbar-default .container-fluid .navbar-collapse .navbar-nav .dropdown-menu a {
  display: inline-block;
  color: #F3F3F3;
  padding: 5px 10px;
  font-size: 14px;
  width: 100%;
}
.f-whole .f-main-top .f-head .container .f-menu .navbar-default .container-fluid .navbar-collapse .navbar-nav .dropdown-menu a:hover {
  background: #F8F9FA;
  color: #333333;
}
.f-whole .f-main-top .f-carousel .carousel {
  vertical-align: middle;
  position: relative;
  text-align: right;
}
.f-whole .f-main-top .f-carousel .carousel ol.carousel-indicators li {
  display: inline-block;
  border: 4px solid white;
  padding: 4px;
  background: #FC427B;
  margin: 0px 4px;
}
.f-whole .f-main-top .f-carousel .carousel ol.carousel-indicators li.active {
  background: #fff;
}
.f-whole .f-main-top .f-carousel .carousel .f-text {
  position: absolute;
  top: 20%;
  right: 15%;
  color: white;
  width: 560px;
}
@media (max-width: 970px) {
  .f-whole .f-main-top .f-carousel .carousel .f-text h3 {
    font-size: 50px !important;
  }
}
@media (max-width: 768px) {
  .f-whole .f-main-top .f-carousel .carousel .f-text {
    width: 80%;
  }
  .f-whole .f-main-top .f-carousel .carousel .f-text h3 {
    font-size: 45px !important;
  }
}
@media (max-width: 568px) {
  .f-whole .f-main-top .f-carousel .carousel .f-text {
    width: 100%;
    right: 0%;
    padding: 0 10px;
  }
  .f-whole .f-main-top .f-carousel .carousel .f-text h5 {
    font-size: 20px !important;
  }
  .f-whole .f-main-top .f-carousel .carousel .f-text h3 {
    font-size: 40px !important;
  }
  .f-whole .f-main-top .f-carousel .carousel .f-text a {
    margin-top: 0px !important;
  }
}
@media (max-width: 480px) {
  .f-whole .f-main-top .f-carousel .carousel .f-text h5 {
    font-size: 16px !important;
  }
  .f-whole .f-main-top .f-carousel .carousel .f-text h3 {
    font-size: 36px !important;
  }
}
@media (max-width: 380px) {
  .f-whole .f-main-top .f-carousel .carousel .f-text h5 {
    font-size: 12px !important;
  }
  .f-whole .f-main-top .f-carousel .carousel .f-text h3 {
    font-size: 32px !important;
  }
}
.f-whole .f-main-top .f-carousel .carousel .f-text h5 {
  font-weight: 400;
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: right;
}
.f-whole .f-main-top .f-carousel .carousel .f-text h3 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 64px;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  font-family: 'Poppins', sans-serif;
  text-align: right;
}
.f-whole .f-main-top .f-carousel .carousel .f-text a {
  display: inline-block;
  padding: 12px 25px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid #fff;
  background: #FC427B;
  max-width: 150px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-top: 54px;
}
.f-whole .f-main-top .f-carousel .carousel .f-text a:hover {
  background: #fff;
  color: #000;
}
.f-whole .f-body {
  padding-top: 54px;
}
.f-whole .f-body .f-welcome {
  padding: 18px 15px 0;
}
.f-whole .f-body .f-welcome .f-topText {
  padding: 54px 15px;
}
.f-whole .f-body .f-welcome .f-topText h3 {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 100;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  font-family: 'Poppins', sans-serif;
}
.f-whole .f-body .f-welcome .f-topText h4 {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: initial;
  color: #464646;
  margin: 18px 0 54px 0;
}
.f-whole .f-body .f-welcome .f-topText .f-textBottom .f-support-grid .f-lcon {
  text-align: left;
}
.f-whole .f-body .f-welcome .f-topText .f-textBottom .f-support-grid .f-lcon span {
  display: inline-block;
  padding: 28px;
  background: #FC427B;
  color: #fff;
  font-size: 28px;
  text-align: center;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
.f-whole .f-body .f-welcome .f-topText .f-textBottom .f-support-grid h5 {
  color: #343a40;
  margin: 27px 0px 18px 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.f-whole .f-body .f-welcome .f-topText .f-textBottom .f-support-grid p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
.f-whole .f-body .f-serives {
  padding: 54px 0;
  background: #FC427B;
}
.f-whole .f-body .f-serives .container {
  padding: 54px 15px;
  text-align: center;
}
@media (max-width: 768px) {
  .f-whole .f-body .f-serives .container h4 {
    margin: 27px 0 18px 0 !important;
  }
  .f-whole .f-body .f-serives .container p {
    margin-bottom: 30px !important;
  }
}
.f-whole .f-body .f-serives .container .f-lcon {
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 2px solid #fff;
  font-size: 32px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  line-height: 90px;
  text-align: center;
}
.f-whole .f-body .f-serives .container h4 {
  margin: 54px 0 18px 0;
  font-weight: 600;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
}
.f-whole .f-body .f-serives .container p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #fdfdfd;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.f-whole .f-body .f-blog {
  padding: 54px;
}
.f-whole .f-body .f-blog .container {
  padding: 18px 15px;
}
.f-whole .f-body .f-blog .container .f-title {
  text-align: center;
  margin-bottom: 54px;
}
.f-whole .f-body .f-blog .container .f-title h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  margin-bottom: 9px;
}
.f-whole .f-body .f-blog .container .f-title p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
.f-whole .f-body .f-blog .container .row .f-posts-top {
  position: relative;
}
.f-whole .f-body .f-blog .container .row .f-posts-top h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #38d2fe;
  font-size: 26px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 10px 25px;
}
.f-whole .f-body .f-blog .container .row .f-posts-top h3 span {
  display: block;
  font-size: 16px;
  color: #A8EBFF;
  font-weight: 300;
}
.f-whole .f-body .f-blog .container .row .f-posts-w3ls-bottom {
  padding: 27px 0;
}
.f-whole .f-body .f-blog .container .row .f-posts-w3ls-bottom h4 {
  font-size: 23px;
  color: #343a40;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 9px;
}
.f-whole .f-body .f-blog .container .row .f-posts-w3ls-bottom .list-unstyled {
  overflow: hidden;
}
.f-whole .f-body .f-blog .container .row .f-posts-w3ls-bottom .list-unstyled li {
  float: left;
}
.f-whole .f-body .f-blog .container .row .f-posts-w3ls-bottom .list-unstyled li a {
  color: #999;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  padding-right: 20px;
}
.f-whole .f-body .f-blog .container .row .f-posts-w3ls-bottom .list-unstyled li a span {
  color: #FC427B;
}
.f-whole .f-body .f-blog .container .row .f-posts-w3ls-bottom p {
  margin-top: 18px;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
.f-whole .f-body .middle {
  background: url(../img/bg2.jpg) no-repeat;
  -moz-background-size: 100%;
       background-size: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 54px 0;
}
@media (max-width: 1170px) {
  .f-whole .f-body .middle .container {
    margin: 0 107px !important;
  }
  .f-whole .f-body .middle .container .row .f-middleText {
    width: 100% !important;
  }
}
@media (max-width: 970px) {
  .f-whole .f-body .middle {
    padding: 10px 0 !important;
  }
  .f-whole .f-body .middle .container {
    margin: 0 auto !important;
  }
  .f-whole .f-body .middle .container .row .f-middleText {
    width: 100% !important;
  }
}
@media (max-width: 760px) {
  .f-whole .f-body .middle .container {
    padding: 44px 20px !important;
    margin: 0 auto !important;
  }
  .f-whole .f-body .middle .container .row .f-middleText {
    width: 100% !important;
    padding: 0 !important;
  }
  .f-whole .f-body .middle .container .row .f-middleText span {
    font-size: 22px !important;
  }
  .f-whole .f-body .middle .container .row .f-middleText h3 {
    font-size: 24 !important;
  }
  .f-whole .f-body .middle .container .row .f-middleText p {
    font-size: 14px !important;
  }
}
.f-whole .f-body .middle .container {
  margin: 0 176px;
  padding: 54px 15px;
}
.f-whole .f-body .middle .container .row .f-middleText {
  width: 40%;
  padding: 0 15px;
}
.f-whole .f-body .middle .container .row .f-middleText span {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.35);
  font-weight: bold;
  letter-spacing: 1px;
}
.f-whole .f-body .middle .container .row .f-middleText h3 {
  font-weight: 800;
  font-size: 32px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 9px 0 18px 0;
}
.f-whole .f-body .middle .container .row .f-middleText p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  font-family: 'Sintony', sans-serif;
  color: white;
}
.f-whole .f-body .gallery {
  padding: 54px 0;
}
.f-whole .f-body .gallery .container {
  padding: 54px 15px;
  margin: 0 auto;
}
.f-whole .f-body .gallery .container .f-titleGallery {
  text-align: center;
}
@media (max-width: 768px) {
  .f-whole .f-body .gallery .container .f-titleGallery .f-galleryText {
    margin-bottom: 24px !important;
  }
  .f-whole .f-body .gallery .container .f-titleGallery .row .f-ImgTop {
    margin-top: 0 !important;
  }
  .f-whole .f-body .gallery .container .f-titleGallery .row .f-ImgTop .row a {
    display: block;
    margin-top: 30px;
  }
  .f-whole .f-body .gallery .container .f-titleGallery .row .f-ImgBottom {
    margin-top: 0 !important;
  }
  .f-whole .f-body .gallery .container .f-titleGallery .row .f-ImgBottom .row a {
    display: block;
    margin-top: 30px;
  }
}
.f-whole .f-body .gallery .container .f-titleGallery .f-galleryText {
  margin-bottom: 54px;
}
.f-whole .f-body .gallery .container .f-titleGallery .f-galleryText h3 {
  font-weight: 500;
  line-height: 1.2;
  color: #000;
  font-size: 32px;
  margin-bottom: 9px;
}
.f-whole .f-body .gallery .container .f-titleGallery .f-galleryText p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
.f-whole .f-body .gallery .container .f-titleGallery .row .f-ImgBottom {
  margin-top: 27px;
}
.f-whole .f-body .f-newsletter {
  padding: 54px;
  background: url(../img/bg3.jpg);
}
.f-whole .f-body .f-newsletter .container {
  padding: 54px 15px;
  margin: auto;
}
.f-whole .f-body .f-newsletter .container .f-newsletterTitle {
  text-align: center;
  margin-bottom: 54px;
}
.f-whole .f-body .f-newsletter .container .f-newsletterTitle h3 {
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 32px;
  margin-bottom: 9px;
}
.f-whole .f-body .f-newsletter .container .f-newsletterTitle p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  font-family: 'Sintony', sans-serif;
  color: #E0E0E0;
}
.f-whole .f-body .f-newsletter .container .f-formNewsletter form .row input {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  line-height: 15px;
  color: #495057;
  background-color: #fff;
  -moz-background-clip: padding-box;
       background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-border-radius: 0.25rem;
     -moz-border-radius: 0.25rem;
          border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -moz-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out, -moz-box-shadow 0.15s ease-in-out;
  height: 50px;
}
@media (max-width: 768px) {
  .f-whole .f-body .f-newsletter .container .f-formNewsletter form .row input {
    margin-bottom: 18px;
  }
}
.f-whole .f-body .f-newsletter .container .f-formNewsletter form .row .submit {
  background: #38D2FE;
  color: white;
  font-weight: 600;
}
.f-whole .f-body .f-contact {
  padding: 54px 0;
}
.f-whole .f-body .f-contact .container {
  margin: 0 auto;
  padding: 18px 15px;
}
.f-whole .f-body .f-contact .container .f-contactTitle {
  margin-bottom: 54px;
  text-align: center;
}
.f-whole .f-body .f-contact .container .f-contactTitle h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  color: #212529;
  margin-bottom: 9px;
}
.f-whole .f-body .f-contact .container .f-contactTitle p {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
}
.f-whole .f-body .f-contact .container .row .f-left {
  padding: 0 15px;
}
.f-whole .f-body .f-contact .container .row .f-left .address-info {
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
}
.f-whole .f-body .f-contact .container .row .f-left .address-info h4 {
  margin-bottom: 18px;
  font-size: 23px;
  color: #38d2fe;
  letter-spacing: 1px;
  font-weight: 600;
}
.f-whole .f-body .f-contact .container .row .f-left .address-info p {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
}
.f-whole .f-body .f-contact .container .row .f-left .address-info p a {
  color: #999;
}
.f-whole .f-body .f-contact .container .row .f-left .address-info.f-two {
  margin: 36px 0;
}
.f-whole .f-body .f-contact .container .row .f-right {
  padding: 15px;
}
.f-whole .f-body .f-contact .container .row .f-right .address-grid {
  background-color: #fff;
  padding: 40px;
  -webkit-box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
}
.f-whole .f-body .f-contact .container .row .f-right .address-grid h4 {
  margin-bottom: 18px;
  font-size: 23px;
  color: #38d2fe;
  letter-spacing: 1px;
  font-weight: 600;
}
.f-whole .f-body .f-contact .container .row .f-right .address-grid form .form-group {
  margin-bottom: 18px;
}
.f-whole .f-body .f-contact .container .row .f-right .address-grid form .form-group .form-control {
  color: #000;
  background: none;
  outline: none;
  font-size: 15px;
  padding: 11px;
  margin-bottom: 16px;
  border: none;
  border-bottom: solid 1px #828282;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  display: block;
  width: 100%;
  line-height: 1.5;
}
.f-whole .f-body .f-contact .container .row .f-right .address-grid form .form-group.f-Message textarea {
  min-height: 215px;
  color: #000;
  background: none;
  outline: none;
  font-size: 15px;
  padding: 11px;
  margin-bottom: 16px;
  border: none;
  border-bottom: solid 1px #828282;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  display: block;
  width: 100%;
  line-height: 1.5;
}
.f-whole .f-body .f-contact .container .row .f-right .address-grid form input.f-submit {
  text-align: center;
  font-weight: 400;
  display: block;
  background: #FC427B;
  border: none;
  margin-top: 27px;
  padding: 12px 0;
  width: 100%;
}
/*# sourceMappingURL=./style.css.map */